install the required dependencies :---
        **cryptography**

use-:
```bash
pip install -r requirements.txt ```

or in debian based systems like kali linux :--
```bash
sudo apt-get install python3-cryptography 
